@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

body{
    font-family: "Ubuntu" ,"sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.bg{
    background: url('https://images.unsplash.com/photo-1514543250559-83867827ecce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=825&q=80') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: calc(100vw + 60px);
    height:  calc(100vh + 60px);
    left: -30;
    top: -30;
    filter: blur(0px);
}
.loading-text{
    color: #fff;
    font-size: 50px;
}
